@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    scroll-behavior: smooth;

  }


  body {
    margin: 0px;
    font-family: 'DM Sans', sans-serif;
  }

  .brandBlue{
    color: #487A9C !important;
  }

  .brandRed{
    color: #C35230 !important;
  }

  .heroTitle{
    font-size: 48px;
    font-weight:400;
  }

  .body{
    font-size: 20px;
    color: rgba(0,0,0,0.6);
  }

  .bodyBold{
    font-size: 20px;
    color: #000000;
    font-weight:700;
  }

  .caption1{
    font-size: 13px;
    color: rgba(0,0,0,0.6);
  }
  .caption2{
    font-size: 17px;
    color: rgba(0,0,0);
  }

  .title{
    font-size: 32px;
    font-weight: 700;
    color: rgba(0,0,0,0.6);
  }

  .title2{
    font-size: 30px;
    font-weight: 700;
    color: rgba(0,0,0,1);
  }

  
  .subtitle{
    font-weight: 700;
    font-size: 24px;
    color: rgba(0,0,0);
  }

  .subtitle2{
    font-weight: 500;
    font-size: 20px;
    color: rgba(0,0,0);
  }

  .subtitle3{
    font-size: 17px;
    color: rgba(0,0,0,0.48);
  }

  .getQuoteCursor{
    cursor: url(/media/icons/getQuoteCursor.svg), auto;
    padding: 10px;
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }

  .footerBG{
    background-color: #f8f8f8;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }


  .open-button {
  background-color: #000;
  color: white;
  padding: 8px 12px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 120px;
}

/* The popup form - hidden by default */
.form-popup {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  display: none;
  position: fixed;
  bottom: 23px;
  right: 15px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: black;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}





